---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main class="w-full h-full flex justify-center items-center">
        <div> Quiuboles</div>
        <!--
        <footer
            class="bg-slate-100 border-t border-gray-300 dark:bg-[#171717] dark:text-slate-50 dark:border-none"
        >
            Reproductor
        </footer>
    -->
    </main>

    <aside
        class="w-56 hidden md:flex border-l border-gray-300 bg-slate-100 dark:border-none dark:bg-[#171717]"
    >
        BARRA LATERAL
    </aside>
</Layout>
