---
import type { SlotString } from "astro/runtime/server/render/slot.js";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<!-- flex es flexible h-scren toma el 100% de la pantalla, dark: Si el tema es negro, []Un valor que no tiene tailwind -->
	<body
		class="flex bg-slate-50 dark:bg-[#212121] dark:text-slate-50 h-screen"
	>
		<slot />
	</body>
</html>
<style>
	@media screen and (max-width: 768px) {
		aside {
			display: none;
		}
	}
</style>
